@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1f242d;
  color: #fff;
}

section {
  min-height: 100vh;
}

/* section:nth-child(odd) {
  background: #343a44;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

.navbar a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 95%;
  height: 2px;
  opacity: 15%;
  background: grey;
  transform: scaleX(1);
  height: 70%;
  transform-origin: left;
  transition: all 0.5s;
}

.navbar a:hover::after {
  background: orangered;
  opacity: 100%;
  transform: scaleY(0.1);
  transform-origin: bottom;
}

.home, .about-content{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.about{
  background-image: url('assets/about.jpeg');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about-box{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content, .about-img{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  max-width: 800px;
}

.home-content{
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.Bhopal {
  color: rgb(240, 121, 161);
  transition: all 0.75s ease-in-out;
  font-family: "Meta", sans-serif;
  background: rgba(211, 211, 211, 0.074);
  text-shadow: none;
  cursor: pointer;
}

.Bhopal:hover {
  color: transparent;
  background: none;
  text-shadow: -15px 5px 5px #07bccc89, 10px -15px 5px #e601c089,
    50px 10px 5px #e9019c88, 30px 20px 5px #f4046894, 0px 40px 10px #4728967c;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img {
    margin-top: 15em;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;    
}

#particle-box {
    width: 45vw;
}

.box2 {
  display: flex;
  padding-top: 20px;
}

.box2 > a {
  padding: 0 30px 0 0;
  text-decoration: none;
  position: relative;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.box2 > .skills {
  color: orange;
}

.box2 > .resume {
  color: lawngreen;
}

.box2 > .projects {
  color: orangered;
}

.box3 {
  display: flex;
  padding: 30px 0;
  color: grey;
}

.box3 > a {
  padding: 0 25px 0 0;
  height: 30px;
  text-decoration: none;
  color: gray;
  position: relative;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.box2 > a::after {
  position: absolute;
  content: "";
  top: 125%;
  left: 0;
  width: 84%;
  height: 3px;
  background: lawngreen;
  transform: scaleX(0.15);
  transform-origin: left;
  transition: transform 0.5s;
}

.box2 > .skills::after {
  background: orange;
}

.box2 > .projects::after {
  background: orangered;
}

.box2 > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.box3 i {
  font-size: 2em;
}

.box3 > a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 86%;
  height: 2px;
  opacity: 25%;
  background: grey;
  transform: scaleX(1);
  height: 70%;
  transform-origin: left;
  transition: all 0.5s;
}

.box3 > .facebook > i:hover {
  transition: color 0.25s;
  color: #3b5998;
}

.box3 > .linkedin > i:hover {
  transition: color 0.25s;
  color: #0a66c2;
}

.box3 > .github > i:hover {
  transition: color 0.25s;
  color: #c7329f;
}

.box3 > .instagram > i:hover {
  background: -webkit-linear-gradient(
    rgb(168, 7, 241),
    rgb(222, 4, 4),
    rgb(200, 150, 10)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.25s;
}

.box3 > .email > i:hover {
  color: #ac1a1a;
  transition: color 0.25s;
}

.box3 > a:hover::after {
  background: orangered;
  opacity: 100%;
  transform: scaleY(0.1);
  transform-origin: bottom;
}

/* -------------------------------- */


.a-title, .p-title{
  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 5%;
}


.font-style {
  font-family: 'Heebo', sans-serif;
  font-size: 5.625rem;
  /* font-weight: 700; */
  line-height: 1;
  text-stroke: 0.1rem rgba(255,255,255, 0.5);
  -webkit-text-stroke: 0.1rem rgba(255,255,255, 0.5);
  white-space: nowrap;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 1px;
  width: 100%;
  height: 100%;
}

/* -------------------------------- */



/* -------------------------------- */

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#c1 {
  background-image: url('assets/ESRGAN.jpeg');
}

.container #c2 {
  background-image: url('assets/object-tracking.jpeg');
}

.container #c3 {
  background-image: url('assets/sudoku.jpeg');
}

.container #c4 {
  background-image: url('assets/aerial.jpeg');
}

.container #c5 {
  background-image: url('assets/brain.jpeg');
}

.container #c6 {
  background-image: url('assets/depth.jpeg');
}

.container #c7 {
  background-image: url('assets/RISC.jpeg');
}

.container #c8 {
  background-image: url('assets/XLR8.jpeg');
}

.container .card .content {
  top: 80px;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
  /* display: flex;
  flex-direction: column; */
}

.container .card:hover .content {
  backdrop-filter: brightness(20%);
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content h2 {
  position: absolute;
  /* top: -80px; */
  right: 30px;
  font-size: 8em;
  color: white;
  opacity: 0.25;
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: white;
  font-weight: 300;
} 

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* -------------------------------- */

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
